* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  font-family: Inter, sans-serif;
}

.page {
  max-width: 1520px;
  margin: auto;
  background: #FFF9F9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: #FFF9F9;
}

.logo {
  width: 350px;
  margin-top: 30px;
  margin-left: -60px;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 22px;
  height: 22px;
  transition: 0.3s ease;
}

.icon:hover img {
  transform: scale(1.15);
  filter: brightness(0.7);
}

/*  NAV */
.nav {
  display: flex;
  gap: 22px;
}

.nav a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.nav a:hover {
  color: #C9135F;
}

.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 90px;
}

.breadcrumb {
  padding: 20px 90px 0;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.breadcrumb a {
  color: #cb7e97;                   
  text-decoration: none;
  transition: color 0.2s ease;
  margin-left: -40px;
  font-size: 12px;
}

.breadcrumb a:hover {
  color: #C9135F;              
}

.breadcrumb span {
  margin: 0 6px;
  color: #d99bba;
}

.breadcrumb strong {
  color: #d8237e;                
  font-weight: 500;
}

/* SEARCH BAR DESIGN  */
.search-box {
  width: 600px;                
  max-width: 100%;
  height: 42px;
  margin-top: 5px;
  margin-left: -30px;

  padding: 0 18px;
  font-size: 15px;
  letter-spacing: 0.4px;

  border-radius: 15px;         
  border: 1.5px solid #bc3d72;  

  background: #ffffff;
  outline: none;

  transition: 
    border-color 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.15s ease;
}

.search-box:hover {
  border-color: #F0C4D6;
  box-shadow: 0 0 0 2px rgba(238, 8, 104, 0.35);
}

.search-box:focus {
  border-color: #F0C4D6;
  box-shadow: 0 0 0 5px rgba(240, 196, 214, 0.45);
  transform: scale(1.02);
}

.search-box::placeholder {
  color: #410f22;
  font-size: 14px;
}

/*  FILTER  */
.filters select {
  width: 220px;
  height: 42px;

  padding: 0 18px;
  font-size: 14px;
  letter-spacing: 0.4px;

  border-radius: 15px;       
  border: 1.5px solid #F0C4D6;  

  background: #fff;
  color: #410f22;
  outline: none;
  cursor: pointer;

  transition: 
    border-color 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.15s ease;

  appearance: none;            
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'%3E%3Cpath fill='%23F0C4D6' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 14px;
}

/* HOVER */
.filters select:hover {
  box-shadow: 0 0 0 4px rgba(226, 96, 151, 0.35);
}

/* PRODUCT  */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  width: 90%;
  margin: 60px auto;
  margin-top: 15px;
}

.product-card {
  position: relative; /* for heart */
  background: #fff;
  border: 1px solid #ddd;
  text-decoration: none;
}

.card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.image-box {
  height: 260px;
  background-color: #fde6e4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heart {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 26px;
  cursor: pointer;
  color: #232323;
  z-index: 10;
  user-select: none;
}

.heart.active {
  color: #f4a7b9;
}

.card-link {
  position: relative;
  z-index: 1;
}

.heart {
  z-index: 999;          
  pointer-events: auto; 
}

/*  PRODUCT INFO */
.product-info {
  padding: 12px;
}

.product-info h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.product-info p {
  font-size: 12px;
  color: #666;
  margin-bottom: 6px;
}

.price {
  font-size: 14px;
  font-weight: 600;
}

/* PAGINATION  */
.pagination {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 40px;
  font-size: 13px;
}

.pagination span {
  cursor: pointer;
}

.pagination .active-page {
  font-weight: bold;
  color: #C9135F;
  border-bottom: 2px solid #C9135F;
}

/*  DIVIDER */
.divider-line {
  height: 1px;
  background: #e4c4c4;
  width: 90%;
  margin: 40px auto;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 120px 40px;
}

.footer h2 {
  font-size: 42px;
  margin-top: -70px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;              
  margin: 15px;
}

.socials img {
  width: 60px;           
  height: 50px;
  object-fit: contain;   
}

.footer-text {
  font-size: 42px;
  line-height: 42px;  
  margin-top: 30px;   
}

.footer-links {
  margin-top: 30px;
  font-size: 14px;
}

.footer-copy {
 margin-bottom: -80px;
  font-size: 14px;
  color: #777;
}

.socials img:hover {
  filter: drop-shadow(0 0 15px rgba(255, 105, 180, 0.9));
  transform: scale(1.15);
}

.socials img:active {
  filter: drop-shadow(0 0 25px rgba(255, 20, 147, 1));
  transform: scale(0.95);
}